spring:
  datasource:
    url: jdbc:h2:mem:testdb;DB_CLOSE_DELAY=-1
    username: sa
    password:
    driver-class-name: org.h2.Driver
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
  kafka:
    bootstrap-servers: localhost:9092
    consumer:
      group-id: telegram-group
      auto-offset-reset: earliest
      key-deserializer: org.apache.kafka.common.serialization.StringDeserializer
      value-deserializer: org.springframework.kafka.support.serializer.JsonDeserializer
      properties:
        spring.json.trusted.packages: "*"
        spring.json.use.type.headers: false
    producer:
      key-serializer: org.apache.kafka.common.serialization.StringSerializer
      value-serializer: org.springframework.kafka.support.serializer.JsonSerializer

services-rest:
  user-service-url: ${user-service:http://localhost:8081/api/v1/}
  order-service-url: ${report-service:http://localhost:8083/api/v1/}
  report-service-url: ${report-service:http://localhost:8084/api/v2/}
service-token: ${secret-token:999d6327-1b80-4ce4-8e15-b51a21ec912d}

services-web:
  bff-url: ${FRONT_URL:http://localhost:8085/login?t=}

telegram:
  bot:
    username: ${TELEGRAM_BOT_USERNAME:microbBOT}
    token: ${TELEGRAM_BOT_TOKEN:8142733256:AAGVAhvQ2yGF3do6yfsy-re3FzPotWmSfqY}
server:
  port: 8082

logging:
    level:
      org.springframework.web.client.RestTemplate: info
      org.apache.http: info
